<div class="container">
  <mat-card>
    <mat-card-content class="card-content">
      <!--Formulario-->
      <form class="login-form">
        <span class="login-form-title">Login</span>

        <mat-form-field class="div-input-login-name">
          <input class="input-login-name" name="userApp" type="text" placeholder="Usuario" [(ngModel)]="username">
        </mat-form-field>

        <mat-form-field class="div-input-login-password">
          <input class="input-login-password" name="passwordApp" mat-input type="password" placeholder="Senha" [(ngModel)]="password">
        </mat-form-field>

        <span>
          {{ mensagemLogin }}
        </span>
        <button (click)="btnLogin()" mat-raised-button type="submit" color="primary">Entrar</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
