


.container{
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.card-content{
  width: 390px;
  background: #fff;
  border-radius: 10px;
  position: relative;
  padding-bottom: 90px;
  padding-top: 50px;

  .login-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 10px;
  position: relative;
  padding-bottom: 90px;
  padding-top: 50px;
  margin: 0;
  box-sizing: border-box;
  }

  .login-form-title{

    font-size: 30px;
    color: #403866;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    display: block;
  }


  .div-input-login-name{
    width: 100%;
    position: relative;
    background-color: #e6e6e6;
    border: 1px solid transparent;
    border-radius: 3px;
     .input-login-name{
      color: #403866;
      line-height: 1.2;
      font-size: 18px;
      display: block;
      width: 100%;
      background: 0 0;
      height: 62px;
      padding: 0 20px 0 38px;
      outline: none;
      border: none;
    }
  }
  .div-input-login-password{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    background-color: #e6e6e6;
    border: 1px solid transparent;
    border-radius: 3px;

     .input-login-password{
      color: #403866;
      line-height: 1.2;
      font-size: 18px;
      display: block;
      width: 100%;
      background: 0 0;
      height: 62px;
      padding: 0 20px 0 38px;
      outline: none;
      border: none;
    }
  }

}


mat-card{
  margin: 5%;
}


